<!-- <h1 id="title" class="title">Login</h1> -->

<!--<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>-->
<div class="parent">
  <section class="child1">
      <div class="imageVtr">
          <img src="/assets/images/Stroke_1.svg" alt="vtr svg">
      </div>
      <h3 class="title">
          ¡Bienvenido al  portal de APP Técnicos!
      </h3>
      <p class="subText">
        En este portal de gestión podrás revisar, comparar
        y obtener el resultado de tus OT realizadas por
        medio de la APP Técnicos.
      </p>
  </section>
  <section class="child2">
      <img src="/assets/images/hr.svg" alt="">

      <!-- <hr width="1" size="455" > -->
  </section>
  <section class="child3">
    <div class="header">
        <img src="/assets/images/logo-vtr-tecnicos.svg" alt="">
        <!-- <img src="/assets/images/vtr_ventas.svg" alt=""> -->
        <img src="/assets/images/vtr.svg" alt="">
        <h3 class="headerText">técnicos</h3>
    </div>
    <div class="frame">
        <div class="loginTitle">login</div>
        <div class="loginSubtext">Portal Gestion APP ventas</div>
        <form (ngSubmit)="login()" [formGroup]="formLogin" aria-labelledby="title">

          <div class="user">
              <div class="inputTopText">
                  Ingresa tu usuario
              </div>
              <label>
                  <input type="text" name="userName" id="input-username" placeholder="Nombre usuario" class="inputField" [ngClass]="{
                      'invalid':   this.errorText,
                      'validAzul' :  formLogin.valid && !this.errorText
                  }"
                  fullWidth
                  formControlName="username"
                  id="input-username"
                  fieldSize="large"
                  >
              </label>
          </div>

          <div class="password">
              <div class="inputTopText">
                  Ingresa tu contraseña
              </div>
              <input type="password" name="userName" id="pass" class="inputPassField"

              fullWidth
              type="password"
              id="input-password"
              placeholder="xxxxxxxxxxx"
              formControlName="password"
              fieldSize="large"
              [ngClass]="{
                invalid:  this.errorText ,
                validAzul : formLogin.valid && !this.errorText
              }">
              <div class="inputBottomText" *ngIf="this.errorText"  [ngClass]="{
                invalid: this.errorText
              }">
                  {{errorText}}
              </div>
          </div>

          <div class="btnSubmit" [ngClass]="{
            active: formLogin && formLogin.valid
          }">
              <input value="Ingresar"
              fullWidth
              size="large"
              type="submit"
              [disabled]="formLogin && !formLogin.valid">
          </div>
        </form>

    </div>
    <section class="child4">
        <img src="/assets/images/down_arrrow.svg" alt="">
        <a href="#">Descargar App Tecnicos</a>
    </section>
    <div class="footerVtr">
        <div class="j">© 2019 VTR Comunicaciones SpA - Condiciones de uso vtr.com</div>
    </div>

  </section>

</div>
