<nb-card>
  <nb-card-header>Filtros:</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="filter()" [formGroup]="formFilter" >
        <ngx-input [formFilter]="formFilter" name="username" placeholder="Username"></ngx-input>
        <ngx-select [formFilter]="formFilter" name="tipo" placeholder="Tipo Dispositivo" [options]="optionsTypes"></ngx-select>
        <ngx-select [formFilter]="formFilter" name="estado" placeholder="Estado" [options]="optionsEstados"></ngx-select>
        <ngx-date-picker [formFilter]="formFilter" name="fecha"></ngx-date-picker>
        <ngx-button type="submit" buttonText="Filtrar"></ngx-button>
    </form>

  </nb-card-body>
</nb-card>
<ngx-button type="submit" buttonText="Exportar" export="true" (click)="exportXSLX()"></ngx-button>
<ngx-table title="Datos Reset" [dataSource]="dataSource" [columnsTable]="columnsTable" [displayedColumns]="displayedColumns" [columns]="columns" [service]="resetService" [filter]="filter" [totalRegistry]="totalRegistry" [formFilter]="formFilter"></ngx-table>